.mat-button-toggle {
    button {
        color:#FE6215;
        
    }
}
.mat-button-toggle-checked {
    background-color: #FE6215;
    color: white;
    button {
        color: #fff;
    }
}

.pagination a {
    border-radius: 50%;
    border: 0px;
    background-color:transparent;
    color: black;
  }
  
  .pagination a:hover:not(.active) {background-color: #f2f2f3;}

