.mat-button-toggle {
    button {
        color:#FE6215;
        
    }
}
.mat-button-toggle-checked {
    background-color: #FE6215;
    color: white;
    button {
        color: #fff;
    }
}